
<div class="container">
  <% beers = 99 %>
  <% while beers > 1 %>
    <ul class="list-group">
      <li class="list-group-item"><%= beers %> bottles of beer on the wall, <%= beers %> bottles of beer!
       <% beers = beers-1 %>
      </br>
      Take one down pass it around, <%= beers %> bottles of beer!</li>
    </ul>
  <% end %>

    <ul class="list-group">
      <li class="list-group-item"><%= beers %> bottle of beer on the wall, <%= beers %> bottle of beer!
       <% beers = beers-1 %>
      </br>
      Take one down pass it around, <%= beers %> bottles of beer!
      </br>Bummer!!!</li>
    </ul>

</div>

